/*.createOrderPanelCol{
    margin-left: 50px;
    margin-right: 50px;
}*/

.modal-search{
    display: block;
}

.card {
    margin: 10px;
}

#logo {
    margin-left: 50px;
}

#navAccountActions {
    margin-right: 50px;
}

.errorHighlighting {
    border-color: red;
}

.hidden {
    display: none;
}

.formLabel {
    width: 100%;
}

.formInput {
    float: right;
}

.btnSpacing {
    margin-left: 25px;
}
.btn-warning{
/*    width: 150px; */
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-danger{
/*    width: 150px; */
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-success{
/*    width: 150px; */
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn-primary{
/*    width: 150px; */
    margin-top: 5px;
    margin-bottom: 5px;
}
.card-body{
    margin-bottom: 10px;
    border-radius: 5px;
}
.card{
    margin-bottom: 10px;
}
.Indexcontainer{
    margin-top: 100px;
}

.row{
    margin-bottom: 35px
}

.highlighted {
    background-color: yellow;
}
.wrongAnswer {
    color: red;
}   
.passwordIcon {
    margin-left: -30px;
    cursor: pointer;
}
form {
    user-select: none;
}
#nameTitle{
    margin-right: 30px;
}

html, body, .container, .modal-card, .modal-card-body {
    height: 100%;
}

.table-responsive {
    max-height:60%;
    overflow: auto;
}

.highlight {
  background-color: #ebf57d;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.form-control {
    display: inline;
}

td:hover {
    cursor: pointer;
}
